/* test 2 */

body {
    padding: 0;
    margin: 0;
    font-family: Raleway;
    background-color: #f3f3f3;    
}

/* header styling */

header {
    background-color: #003d35;
    height: 100px;
}

/* logo wrapper styling for both header and footer */

.logo-wrapper {
    display: inline-block;
    height: inherit;
    width: 20%;
    text-align: center;
    align-content: center;
}

.logo {
    height: 100px;
}

/* navigation bar styling */

nav {
    display: inline-block;
    height: inherit;
    width: 60%;
    text-align: center;
    position: absolute;
    left: 20%;  
    align-content: center;
}

nav > ul {
    margin: 0;
    padding: 15px 15px;
    color: #fffffff6;
}

nav ul li {
    display: inline;
    padding: 0px 35px;
}

nav ul li:hover {
    color: #14DEBC;
    font-weight: bold;
    transition-duration: .3s;

}

nav li a {
    text-decoration: none;
    color: inherit;
}

/* styling for icons in both header and footer */

.icons {
    display: inline-block;
    height: inherit;
    width: 20%;
    position: absolute;
    text-align: center;
    align-content: center;
    left: 80%;
}


.icons a {
    padding: 0px 20px;
    font-size: 25px;
    color: #fffffff6;
}

.icons a:hover {
    color: #14DEBC;
}

/* styling for main body of the page */

body > div {
    text-align: center;
}

h2 {
    margin: 40px;
    font-size: 40pt;
    color: #002923;
    font-family: "Bebas Neue";
    letter-spacing: 3px;
}

img#main-image {
    display: block;
    position: relative;
    width: 40%;
    height: auto;
    left: 30%;
}

#additional-image-wrapper {
    display: inline-block;
    width: 40%;
    margin-top: 5px;
}

.small-images {
    width: 19.5%;
}

/* styling for pet information */

#pet-info-wrapper {
    height: 250px;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
}

section.pet-info {
    width: 48%;
    height: 100%;
    border-radius: 15px;
    align-content: center;
    background-color: #f8f8f8;
    color:rgb(63, 63, 63);
    box-shadow: 5px 5px 5px rgb(231, 231, 231);
}

#pet-info-list {
    float: left;
}

#pet-info-description {
    float: right;
    text-align: left;
}

.pet-info h3 {
    text-align: center;
}

.pet-info p {
    margin: 15px 25px 20px;
}

/* styling for call-to-action buttons */

#content-cta-wrapper {
    margin: 60px 0px;
    padding: 15px 15px;
}

.cta-buttons {
    background-color:#FA652A;
    font-size: 18pt;
    color:white;
    padding: 15px 40px;
    border-radius: 15px;
    margin: 0px 50px;
    border: none;
    box-shadow: 5px 5px 5px rgb(220, 220, 220);
    font-family: "Bebas Neue";
    letter-spacing: 3px;
}

.cta-buttons:hover {
    background-color: #14DEBC;
    color: #FA652A;
    transition-duration: .3s;
    text-decoration: underline;
}

/* styling for sponsor logo section */

#sponsor-section {
    padding-top: 0;
    padding-bottom: 50px;
}

#sponsor-section > h3 {
    font-size: 18pt;
    color: #002923;
}

.sponsor-logos {
    padding: 20px 5px;
}

/* styling for footer */

footer {
    background-color: #003d35;
    color: white;
    height: 110px;
    padding: 0;
    margin: 0;
}

#business-info {
    display: inline-block;
    position: absolute;
    height: inherit;
    width: 60%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 11pt;
}

#business-info > ul > li {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

/* pseudo elements for business info icons */

#address::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content:"\f3c5";
    color: white;
    margin: 0 10px;
}

#phone::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content:"\f095";
    color: white;
    margin: 0 10px;
}

#hours::before {
    font-family: "Font Awesome 5 Free";
    content:"\f017";
    color: white;
    margin: 0 10px;
}

