#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    background-color: aqua;
    gap: 0px 0px;
}

.second-card {
    grid-column: span 2;
    gap: 0px 0px;  
}

.logo {
    height: 150px;
    width: 150px;
}

.nav-bar {
    background-color: red;
    padding: 10px 10px 10px 10px;
    border: 0;
    margin: 0;
    height: 40px;
}

#nav-spacer {
    background-color: green;
    height: 30px;
}

#donate-button-container {
    background-color: blue;
}

#donate-spacer {
    background-color: blueviolet;
}

.nav-bar > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

li a {
    text-decoration: none;
    color: inherit;
}